<body style='background: url(https://previews.dropbox.com/p/thumb/AAikNpLc33P-Moltn-y1lybuDZBGZ_y7n9NOPZuZeGP0coHXPzckHuujsMkdzqg1W9HkwHsA-q2Pe8ihACIOA1Odd1266rdMDFNlhp-HrVDKKwTjO-IJsLNvFLwUq2TBOeK4OGCk9G7Hh5D99T_mfLPJA3j82A3CLAnPuieV7uH2-WnKfJixp1LaCOnww3ejKBo1MpkmgR4ss3lTYeTf2DiBWjuJ9QKn1oSasVzaaV5L0wqZyNkWOdhCSyHJ4GUDI4v2r20n0wjcuKDvTZaL6sU9ULKM0Z-kUIFGEoz3udH3ZS-kh_O96mBfF-YOUZWiNj47R7lT9P76l-sA4V9c5rgr/p.jpeg?size=1600x1200&size_mode=3); color: black; letter-spacing: 2px'>
<form action="/bookmarks/<%= @bookmark.id %>" method="post">
  <input type="hidden" name="_method" value="PATCH" />
  <input type="text" name="url" value="<%= @bookmark.url %>" />
  <input type="text" name="title" value="<%= @bookmark.title %>" />
  <input type="submit" value="change" />
</form>

</body>