<h3>Bookmarks:</h3>
<ul>
  <% @bookmarks.each do |bookmark| %>
    <li id="bookmark-<%= bookmark.id %>">
      <a href="<%= bookmark.url %>" target="_blank">
        <%= bookmark.title %>
      </a>
      <form action="/bookmarks/<%= bookmark.id %>" method="post">
        <input type='hidden' name='_method' value='DELETE'/>
        <input type="submit" value="Delete" />
      </form>
    </li>
  <% end %>
</ul>

<br>
<br>
<br>
<br>

<a style='text-decoration:none; color:black; letter-spacing: 2px'  href='/bookmarks/new'>
<p style='text-decoration:none'>add more</p>
<a style='text-decoration:none; color:black; letter-spacing: 2px'  href='/'>
<p style='text-decoration:none'>back</p>