<form action='/bookmarks'  method="post" >
  <input type="text" name="url" placeholder='url' />
  <input type="text" name="title" placeholder='title'/>
  <input type="submit" value="add" />
</form>


<br>
<br>
<br>
<br>

<a style='text-decoration:none; color:black; letter-spacing: 2px'  href='/'>
<p style='text-decoration:none'>back</p>