<body>
<a style='text-decoration:none; color:black; letter-spacing: 2px'  href='/bookmarks'>
<p style='text-decoration:none'>see bookmarks</p>
<a style='text-decoration:none; color:black; letter-spacing: 2px'  href='/bookmarks/new'>
<p style='text-decoration:none'>add bookmark</p>
</body>