<body style='background: url(https://previews.dropbox.com/p/thumb/AAj4GUm72GW_yGFnNDR2bgMcAJTaIlShtQtTyEs5olaJs94y3BRd9KEHjnloViBYQ7J7VTigDhGKnC5UXNHSspqcVsYH_H_pB1utVkrLTgSe3RzIr_JDHiinJBw9pL6bIE5BCT_ehZIW0uK55T_2T6nwb2ycWd0HXCScHtoQ2NwvPpbqW0rAXNIF-25YBc4TcRWkVWobYPh3hkrjiGvuHlnhBxLn8EoYMT6xBTIhnrGoATYsManePVxDugC2TUWED5I55WIeLw-cISFTbFFboZOGKH8h0D9lMkvv4N2tCJKORiS2CT3OjLKYYbNjZsirboP8uo9TVV5-WrFdt-en6oVT/p.jpeg?fv_content=true&size_mode=5); color: black; letter-spacing: 2px'>
<form action="/users" method="post">
  <input type="email" name="email" />
  <input type="password" name="password" />
  <input type="submit" value="register" />
</form>
</body>